* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #000;
}

body {
    overflow-x: hidden;
}

body, 
.todo-input {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background-color: #000;
}

.todo-input {
    color: #fff;
}

form {
    background-color: #333;
}

a {
    color: #94b308;
    text-decoration: underline;
}

a:hover {
    color: #789200
}

.container {
    min-height: 100vh;
    margin: 0 auto;
    background-color: #333;
    padding-bottom: 30px;
    background-image: url(mountains.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.header-bar {
    display: flex;
}

.menu {
    background-color: #000;
    color: #fff;
    padding: 12px 10px 0px 10px;
}

.menu .menu-container {
    position: fixed;
    top:  0;
    left: 0%;
    width: 100%;
    z-index:  2;
}

.menu-bg {
    position: absolute;
    left: -100%;
    width:  100%;
    height:  100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu.open .menu-bg {
    left: 0;
}

.menu-content-container {
    background-color:  #fff;
    color:  #000;
    height:  100vh;
    width: 75%;
    position: absolute;
    left: -75%;
    transition: all 300ms;
}

.menu-content-container.open {
    left: 0%;
    
}

.menu-close {
    padding: 12px 10px;
}

.menu-content {
    padding: 20px;
}

.add-todo {
    width: 100%;
}

.content {
    padding: 20px;
}

.content p {
    margin-top: 20px;
}

.nav-link {
    color: #00c300;
}
.todo-input {
    flex: 10;
    padding: 10px 20px; 
    border: none; 
    border-radius: 0
}

.todo-submit {
    display: inline-block;
    border: none;
    background: #96b700;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    flex: 1;
    font-size: 16px;
}

.todo-submit:hover, .todo-li button:hover {
    background: #777;
    border-bottom-color: #555;
}

*:focus {
    outline: none;
}

.todo-li {
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    border-bottom: 1px #ccc dotted;
    list-style-type: none;
}

.todo-li:hover {
    background-color: #f0f6db;
}

body > .todo-li {
    margin-left: 0px;
    background-color: #f0f6db;
    border: 1px solid #ccc dotted;
    box-shadow: 5px 5px 10px 0px #000;

}

.todo-li .mark-complete {
    display: block;
    float: left; 
    margin: 6px 5px 0 0;
}

.todo-li .task-content-container {
    display: inline-block;
    width: 94%; 
    word-break: break-word;
}

.todo-li .tools {
    display: none;
     float: right; 
     margin-top: 4px;
}

.todo-li:hover .tools,
body > .todo-li .tools {
    display: block; 
}

.todo-li button {
    border: none;
    background-color: #96b700;
    cursor: pointer;
    border-radius: 6px;
    padding: 11px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 9px;
    border-bottom: 2px solid #789200;
}

.todo-li .delete-btn:hover  {
    color: red;
}

.todo-li .edit-btn:hover {
    color: #96b700;
}

.editable-true .description {
    width: 100%;
    margin-bottom: 10px;
}

.editable-true .description > div {
    display: block;
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    min-height: 100px;
}

.task-content-container .title span {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    width: 74%;
    margin-top: 3px;
}

.editable-true .mark-complete {
    display: none;
}

.editable-true .save {
    display: inital;
}

.editable-false .save {
    display: none;
}

.editable-true .edit {
    display: none;
}

.editable-false .edit {
    display: inital;
}

.completed-true.editable-false .title span {
    text-decoration: line-through;
}

.completed-true.editable-true .title {
    text-decoration: none;
}

.completed-false .unchecked {
    display: inline-block;
}

.completed-false .checked {
    display: none;
}

.completed-true .unchecked {
    display: none;
}

.completed-true .checked {
    display: inline-block;
}

.complete-btn {
    margin-top: 8px;
    display: inline-block;
}

.drag-handle {
    cursor: row-resize;
}
/**/
.todo-content {
    width: 95%;
    display: inline-block;
    padding-left: 10px;
}

.todo-li {
    padding:  3px 0;
}

.task-content-container {
    vertical-align:  top;
}

.todo-content {
    border-right: 1px dotted #ccc;
}

.details-open-false {
    display: none;
}

.details-open-true {
    display: block;
}

.task-actions {
    display: flex;
    
}

.task-info {
    display: flex;
    padding: 10px 0 20px;
   
}

.task-tools {
    display: flex;
}

.task-tools div {
    margin-bottom: 10px;
    line-height: 1;
    font-size:  12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
}

.task-dates {
    font-size: 14px;
    text-transform:  uppercase;
    font-weight: bold;
}

.task-tools .created {
    margin-bottom: 18px;
}

.tool-icon {
    vertical-align: bottom;
}

.alarm span, 
.delete span {
    vertical-align: top;
}

.alarm svg, 
.delete svg {
    position: relative;
    bottom: 6px;
}

.delete svg {
    bottom: 7px;
}

.status-container {
    margin-top: 9px;
}

.status {
    max-width: 150px;
    text-align: center;
    background-color: #ccc;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    min-width: 75px;
    cursor: pointer;
}

.status-1 {
    background-color: blue;
}

.status-2 {
    background-color: orange;
}

.status-3 {
    background-color: green;
}

.status-4 {
    background-color: red;
}

.status-menu,
.priority-menu {
    display: none;
    cursor: default;
}

.status-menu.open,
.priority-menu.open {
    display: block;
    position: absolute;
    background-color: #fff;
    margin-left: -10px;
    padding: 0;
    margin-top: 3px;
    z-index: 2;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,.7);
}

.priority-menu.open {
    margin-left: 0;
}

.status-menu .status {
    margin:10px
}

.status:hover {
    opacity: .8;
}

.priority:hover {
    opacity: .6
}

.priority {
    text-align: right;
    cursor: pointer;
}

.priority .material-icons{
    margin: 0 auto;
    text-align: center;
    font-size: 35px;
}

.priority .low {
    color: black;
}

.priority .med {
    color: orange;
}

.priority .hi {
    color: red;
}

.menu-closer {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

.close-handle {
    text-align: center;
    background-color: #96b700;
    color: #fff;
    position: absolute;
    width: 101%;
    margin-left: -35px;
    margin-top: -17px;
    height: 21px;
    cursor: pointer;
}

.close-handle:hover {
    background-color: #777;
}

.close-handle i {
    font-size: 37px;
    vertical-align: middle;
    line-height: 0;
    margin-top: -3px;
}

.title {
    display:  flex;
    align-items: flex-start;
    justify-content: space-between;
}

.editable-true .title span {
    background-color: #000;
    color: #fff
}

.description span {
    width: 100%;
}

.time-stuff span {
    position: relative;
    top: -6px;
}

input[type="date"] {
    border: none;
    background: #d2dab5;
    font-family: tahoma;
    font-weight: bold;
}

@media only screen and (max-width: 575px) {
    .todo-li {
       
        font-size: 18px;
    }

    .todo-li .task-content-container {
        width: 88%;
        position: relative;
        top: 2px;
    }

    .todo-content {
        width: 90%;
    }


    .todo-input {
        flex: 9;
        min-height: 50px;
        font-size: 18px;
    }
    
    .todo-submit {
        flex: 2;
        font-size: 18px;
    }

    svg.MuiSvgIcon-root {
        height: 30px;
        width: 30px;
    }

    .close-handle {
        width: 131%;
        margin-left: -41px;
    }

    .close-handle i {
        font-size: 37px;
        line-height: 0;
        vertical-align: middle;
    }

    .status {
        height: 20px;
        width: 20px;
        min-width: 20px;
        font-size: 0;
        border-radius: 100px;
    }

}


