* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #000;
}

body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

form {
    padding: 10px;
    background-color: #ccc;
}

a {
    color: #333;
    text-decoration: none;
}

.container {
    max-width: 600px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #fff;
}

.content {
    padding: 20px;
}

.content p {
    margin-top: 20px;
}

.nav-link {
    color: #00c300;
}
.todo-input {
    flex: 10;
    padding: 10px 20px; 
    border: none; 
    border-radius: 0
}

.todo-submit {
    display: inline-block;
    border: none;
    background: #00c300;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    flex: 1;
}

.todo-submit:hover {
    background: #1ddf1d;
}

*:focus {
    outline: none;
}


.todo-li {
    background: #f4f4f4;
    padding: 10px 20px;
    border-bottom: 1px #ccc dotted;
    list-style-type: none;
}

.todo-li:hover {
    background-color: gold;
}

body > .todo-li {
    margin-left: 10px;
    background-color: gold;
    border: 1px solid #ccc dotted;
    box-shadow: 5px 5px 10px 0px #000;

}

.todo-li .mark-complete {
    display: block;
    float: left;
    margin: 6px 5px 0 0;
}

.todo-li .title {
    display: inline-block;
    width: 80%;
}

.todo-li .tools {
    display: none;
    float: right;
}

.todo-li:hover .tools,
body > .todo-li .tools {
    display: block;
}

.todo-li button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.todo-li .delete:hover  {
    color: red;
}

.todo-li .edit:hover {
    color: green;
}

.editable-true .title {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px 12px;
}

.title span {
    display: inline-block;
    width: 100%;
}

.editable-true .mark-complete {
    display: none;
}

.completed-true .title {
    text-decoration: line-through;
}

.completed-true.editable-true .title {
    text-decoration: none;
}

@media only screen and (max-width: 500px) {
    .todo-li {
        padding: 30px 20px;
    }

    .todo-li .title {
        width: 75%;
    }

    .todo-input {
        flex: 9;
        min-height: 50px;
    }
    
    .todo-submit {
        flex: 2;
    }

    svg.MuiSvgIcon-root {
        height: 30px;
        width: 30px;
    }

  }


