* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #000;
}

body, 
.todo-input {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background-color: #000;
}

.todo-input {
    color: #fff;
}

form {
    background-color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

.container {
    min-height: 100vh;
    margin: 0 auto;
    background-color: #333;
    padding-bottom: 30px;
}

.content {
    padding: 20px;
}

.content p {
    margin-top: 20px;
}

.nav-link {
    color: #00c300;
}
.todo-input {
    flex: 10;
    padding: 10px 20px; 
    border: none; 
    border-radius: 0
}

.todo-submit {
    display: inline-block;
    border: none;
    background: #96b700;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    flex: 1;
    font-size: 16px;
}

.todo-submit:hover {
    background: #777;
}

*:focus {
    outline: none;
}


.todo-li {
    background: #f4f4f4;
    padding: 10px 20px;
    border-bottom: 1px #ccc dotted;
    list-style-type: none;
}

.todo-li:hover {
    background-color: #f0f6db;
}

body > .todo-li {
    margin-left: 0px;
    background-color: #f0f6db;
    border: 1px solid #ccc dotted;
    box-shadow: 5px 5px 10px 0px #000;

}

.todo-li .mark-complete {
    display: block;
    float: left; 
    margin: 6px 5px 0 0;
}

.todo-li .title {
    display: inline-block;
    width: 80%; 
    word-break: break-word;
}

.todo-li:hover .title {
   width: 80%;
}

.todo-li .tools {
    display: none;
     float: right; 
     margin-top: 4px;
}

.todo-li:hover .tools,
body > .todo-li .tools {
    display: block; 
}

.todo-li button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.todo-li .delete-btn:hover  {
    color: red;
}

.todo-li .edit-btn:hover {
    color: #96b700;
}

/* .editable-true */.title {
    border-radius: 5px;
    padding: 5px 12px;
}

.editable-true .title {
    background-color: #000;
    color: #fff;
}

.title span {
    display: inline-block;
    width: 100%;
}

.editable-true .mark-complete {
    display: none;
}

.editable-true .save {
    display: inital;
}

.editable-false .save {
    display: none;
}

.editable-true .edit {
    display: none;
}

.editable-false .edit {
    display: inital;
}

.completed-true.editable-false .title span {
    text-decoration: line-through;
}

.completed-true.editable-true .title {
    text-decoration: none;
}

.completed-false .unchecked {
    display: inline-block;
}

.completed-false .checked {
    display: none;
}

.completed-true .unchecked {
    display: none;
}

.completed-true .checked {
    display: inline-block;
}

.complete-btn {
    margin-top: 4px;
}

.drag-handle {
    cursor: row-resize;
}

.todo-content {
    width: 95%;
    display: inline-block;
    padding-left: 10px;
}

.todo-li {
    padding:  3px 0;
}

.title {
    vertical-align:  top;
}

.todo-content {
    border-right: 1px dotted #ccc;
}

@media only screen and (max-width: 500px) {
    .todo-li {
       
        font-size: 18px;
    }

    .todo-li .title, 
    .todo-li:hover .title {
        width: 70%;
        position: relative;
        top: 2px;
    }

    .todo-content {
        width: 90%;
    }


    .todo-input {
        flex: 9;
        min-height: 50px;
        font-size: 18px;
    }
    
    .todo-submit {
        flex: 2;
        font-size: 18px;
    }

    svg.MuiSvgIcon-root {
        height: 30px;
        width: 30px;
    }

  }


